// cols
@use "./libs/cols";

// base
@use "./base/reset";
@use "./base/global";
@use "./base/root";
@use "./base/fonts";

//components

// section
@use "./section/header";
@use "./section/footer";
// Libs

/* @import './libs/fancybox'; */
/* @import './libs/swiper';*/
