// cols
@use "./libs/cols";



// Libs
/* @import './libs/fancybox'; */
@use './libs/swiper';


// base
@use "./base/reset";
@use "./base/global";
@use "./base/root";
@use "./base/fonts";
@use "./base/button";
//components

// section
@use "./section/header";
@use "./section/hero";
@use "./section/partners";



@use "./section/footer";



