@font-face {
  font-family: "Gotham-Light";
  font-display: swap;
  src: url("../fonts/Gotham-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gotham-Medium";
  font-display: swap;
  src: url("../fonts/Gotham-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gotham-bold";
  font-display: swap;
  src: url("../assets/fonts/Gotham_bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}



@font-face {
  font-family: "Inter18pt-Regular";
  font-display: swap;
  src: url("../assets/fonts/Inter18pt-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: "Inter18pt-Medium";
  font-display: swap;
  src: url("../assets/fonts/Inter18pt-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}



@font-face {
  font-family: "Poppins-Light";
  font-display: swap;
  src: url("../assets/fonts/Poppins-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}



@font-face {
  font-family: "Poppins-Regular";
  font-display: swap;
  src: url("../assets/fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}





