// Container & Breakpoints
@use "sass:math";
$containerWidth: 1400;
$containerPadding: 60;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: #131418;
$burgerActiveColor: #fefefe;

// Fonts
$fontMain: sans-serif;
$fontSecondary: "";

%g-300 {
 font-family: "Gotham-Light";
  font-weight: 300;
}

%g-500 {
 font-family: "Gotham-Medium";
  font-weight: 500;
}

%g-700 {
 font-family: "Gotham-bold";
  font-weight: 700;
}


%i-300 {
  font-family: "Inter18pt-Regular";
  font-weight: 400;
}

%i-300 {
  font-family: "Inter18pt-Medium";
  font-weight: 500;
}



%p-300 {
  font-family: "Poppins-Light";
  font-weight: 300;
}



%p-400 {
  font-family: "Poppins-Regular";
  font-weight: 400;
}
